<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About Us - Airline Management System</title>
    <link rel="stylesheet" th:href="@{/css/about-us.css}">
</head>
<body>
<div class="about-page">
    <div class="about-section">
        <!-- Heading section can stay static if not dynamic -->
    </div>

    <div class="welcome py-sm-5 py-4">
        <div class="container py-xl-4 py-lg-2">
            <div class="row">
                <h1 class="text-left" style="color:rgb(72, 16, 85);">About Airline Management</h1>

                <div class="col-lg-6 welcome-left">
                    <h3 class="my-sm-3 my-2">The Airline Management System is a comprehensive online platform...</h3>
                </div>

                <div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4">
                    <img th:src="@{/images/airport3.jpg}" class="img-fluid" alt="Airline Image">
                </div>

                <div class="welcome-left">
                    <br><br>
                    <h1 class="text-left" style="color:rgb(72, 16, 85);">&ensp;What We Do?</h1>
                    <h3 class="my-sm-3" style="margin-left:15px;">The Airline Management System provides a seamless online booking...</h3>
                </div>

                <div class="welcome-left">
                    <br><br>
                    <h1 class="text-left" style="color:rgb(72, 16, 85);">&ensp;Our Vision</h1>
                    <h3 class="my-sm-3" style="margin-left:15px;">
                        <li>To offer a convenient way to book flights from the comfort of your home...</li>
                        <li>To provide a wide range of travel options and personalized services...</li>
                        <li>To ensure a hassle-free booking process with secure payment options...</li>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
